html {
  font-size: 75%;
}

body {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a:link,
a:visited {
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }
}

*:last-child {
  margin-bottom: 0;
}
