*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a:link,
a:visited {
  font-weight: bolder;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &[target=_blank] {
    .touch &,
    &:hover {
      &:before {
        @include fa-icon;
        content: $fa-var-external-link-square;
        font-size: .75em;
        margin-right: .25em;
        opacity: .5;
      }
    }
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

div,
p,
ul,
ol,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
header,
article,
section,
aside,
time {
  line-height: 1.6em;
  margin-bottom: 0;
  margin-top: 0;

  + div,
  + p,
  + ul,
  + ol,
  + blockquote,
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6,
  + header,
  + article,
  + section,
  + aside,
  + time {
    margin-top: 1em;
  }
}
