*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: $primary-color;
  font-weight: bolder;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $secondary-color;
    outline: none;
  }

  &[target=_blank] {
    .touch &,
    &:hover {
      &:before {
        @include fa-icon;
        content: $fa-var-external-link-square;
        font-size: .75em;
        margin-right: .25em;
        opacity: .5;
      }
    }
  }
}

body {
  background: $dark;
  color: $light;
  font-family: Lato, sans-serif;
  font-size: ems(12px);
  font-weight: 400;

  @media #{$medium-up} {
    font-size: ems(14px);
  }

  @media #{$grid-up} {
    font-size: ems(16px);
  }
}

main {
  @include clearfix;
  margin: 0 auto;
  padding: $grid-spacing/2;

  .row {
    margin: 0 (-$grid-spacing/2);
    max-width: $grid-width;
  }

  @media #{$medium-up} {
    max-width: $line-width;
  }

  @media screen and (min-width: $grid-width) {
    padding-left: $grid-width - $line-width;
    max-width: $grid-width;
    width: $grid-width;
  }
}
