$global-base: 16px !default;

$grid-width: ems(1200px) !default;
$grid-spacing: ems(20px) !default;
$column-count: 12 !default;

$breakpoints: (
  small: (0, 720px),
  medium: (721px, 1024px),
  large: (1025px, 2400px),
  extra-large: (2401px, 9000px)
);

$small-only: "screen and (max-width: #{ems(upper-bound(small))})";
$small-up: "screen";
$medium-only: "screen and (min-width: #{ems(lower-bound(medium))}) and (max-width: #{ems(upper-bound(medium))})";
$medium-up: "screen and (min-width: #{ems(lower-bound(medium))})";
$large-only: "screen and (min-width: #{ems(lower-bound(large))}) and (max-width: #{ems(upper-bound(large))})";
$large-up: "screen and (min-width: #{ems(lower-bound(large))})";
$extra-large-only: "screen and (min-width: #{ems(lower-bound(extra-large))}) and (max-width: #{ems(upper-bound(extra-large))})";
$extra-large-up: "screen and (min-width: #{ems(lower-bound(extra-large))})";
