$dark: #002b36;
$light: #839496;

$red: #dc322f;
$cyan: #268bd2;

$primary-color: $red;
$secondary-color: $cyan;

$background: #efefef;

$line-width: 35em;

$global-base: 16px !default;

$radius: 2px;

$grid-width: 12/7*$line-width !default;
$grid-spacing: ems(20px) !default;
$column-count: 12 !default;

$breakpoints: (
  small: (0, ems(420px)),
  medium: (ems(421px), $grid-width - ems(1px)),
  grid: ($grid-width, ems(1023)),
  large: (ems(1024px), ems(2400px))
);

$small-only: "screen and (max-width: #{upper-bound(small)})";
$small-up: "screen";
$medium-only: "screen and (min-width: #{lower-bound(medium)}) and (max-width: #{upper-bound(medium)})";
$medium-up: "screen and (min-width: #{lower-bound(medium)})";
$grid-up: "screen and (min-width: #{lower-bound(grid)})";
$large-up: "screen and (min-width: #{lower-bound(large)})";
$large-only: $large-up; //"screen and (min-width: #{lower-bound(large)}) and (max-width: #{upper-bound(large)})";
