input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select,
textarea,
label {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select,
textarea {
}

label {
  cursor: pointer;
}

textarea {
}

select {
  &[name*='i)'] {
    width: auto;
  }
}

.CodeMirror-wrap {
  border: 1px solid;
}
