$sizes: (
  small: (false, $small-only),
  medium: ($medium-only, $medium-up),
  large: ($large-only, $large-up)
);

@mixin widths($size, $amount: $column-count) {
  @for $i from 1 through $amount {
    .#{$size}-#{$i} {
      width: percentage($i/$amount);
    }
  }
}

.row {
  @include clearfix;
  max-width: $grid-width + $grid-spacing;
  margin: 0 auto;

  .row & {
    margin: 0 (-$grid-spacing/2);
    max-width: $grid-width;
  }
}

.column,
.columns {
  float: left;
  padding: 0 $grid-spacing/2;
  width: 100%;
}

@include widths(small);

@each $size, $queries in $sizes {
  @if (nth($queries, 1) != false) {
    @media #{nth($queries, 1)} {
      @include widths(unquote("#{$size}-only"));
    }
  }

  @if (nth($queries, 2) != false) {
    @media #{nth($queries, 2)} {
      @include widths($size) ;
    }
  }
}
