.page-header {
  background: $dark;

  @media screen and (min-width: $grid-width) {
    background: transparent;
    left: 50%;
    margin-left: -$grid-width/2;
    padding: 0 $grid-spacing/2;
    position: fixed;
    top: 0;
    width: $grid-width - $line-width - $grid-spacing/2;
  }

  .logo {
    background: transparent image-url('ben-saufley.svg') no-repeat center;
    background-size: contain;
    display: block;
    height: 0;
    margin: 0 auto;
    max-width: ems(400px);
    overflow: hidden;
    padding: percentage(133.48/582.23) 0 0;
    position: relative;
    white-space: nowrap;
    width: auto;

    * {
      left: 200%;
      position: absolute;
    }

    @media screen and (min-width: ems(400px) + $grid-spacing) {
      height: 133.48/582.23 * ems(400px);
      padding: 0;
    }
  }

  nav {
    text-align: center;
    padding-bottom: $grid-spacing/2;

    a:link,
    a:visited {
      clear: both;
      color: $red;
      font-family: Monaco, Menlo, monospace;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.3em;
      text-decoration: underline;
      padding-left: .2em;
      padding-right: .2em;

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: $light;
        color: $dark;
        outline: none;
        text-decoration: none;
      }

      &.active {
        background-color: $red;
      }
    }

    @media #{$grid-up} {
      padding-left: $grid-spacing/2;
      text-align: left;

      a:link,
      a:visited {
        display: inline-block;
        float: left;
        padding-left: 0;

        &:before {
          background-color: $dark;
          content: '$>\00A0';
          color: $light;
          display: inline-block;
          margin-right: .2em;
          text-decoration: none;
        }

        &.active {
          padding: 0;

          &:after {
            animation: blink 2s infinite linear;
            content: '\00A0';
            display: inline-block;
            margin-left: .2em;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@keyframes blink {
  0%,
  50% {
    background: mix($red, $dark);
  }

  51%,
  100% {
    background: $dark
  }
}
